{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Instagram</title>
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
</head>

<body>
    <div class="border-bottom border-grey">

        <nav class="navbar px-0 box-70" role="navigation" aria-label="main navigation">
            <div class="navbar-brand py-4 ">
                <a href="{% url 'home' %}" class="navbar-item d-flex nav-link text-dark">
                    <div class="border-right border-dark pr-3">
                        <img class=" nav-ig-icons" src="{% static 'img/ig-icon-hd.png' %}">
                    </div>
                    <div class="pl-3">
                        <h2 class="d-flex align-self-center instagram-title  mb-0">Instagram</h2>
                    </div>
                </a>
            </div>

            <div class="navbar-start">
                <form class="d-flex justify-items-center" action="{% url 'search' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input class="form-control input-height" type="text" placeholder="Search" name="photo">
                    <button class="btn btn-sm d-none" type="submit"></button>
                </form>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a href="{% url 'explore' %}" class="button is-primary">
                            <img class=" nav-ig-icons mx-2" src="{% static 'img/ig-navigation.png' %}">
                        </a>
                        <a class="mx-4" href="/new/post/">
                            <img class="nav-ig-icons" src="{% static 'img/upload.png' %}">
                        </a>
                        <a href="{% url 'profile' %}" class="button is-primary">
                            <img class=" nav-ig-icons mx-2" src="{% static 'img/ig-user.png' %}" width="25">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    {% block content %}
    {% endblock content %}
</body>

</html>