{% extends 'base/layout.html' %}
{% load static %}
{% block content %}



<div class="bg-light pt-5">
    <div class="box-70 d-table">
        <div class="box-65 pr-3 d-table-cell">
            {% for photo in photos %}
            <div class="card d-table d-flex mb-5">
                <div class="d-table-row d-inline-flex my-2">
                    <div class="profile-photo mx-3">
                        <img class="d-pic" src="{{ photo.uploaded_by.profile.change_profile_photo.url }}" alt="dpic">
                    </div>
                    <div class="">
                        <a class="d-block font-weight-bold">{{photo.uploaded_by.profile.user_name}}</a>
                        {% if photo.location.name %}
                        <a class="d-block" href="">{{ photo.location.name }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="home-photo-box d-flex align-items-center">
                    <img class="home-photo" src="{{ photo.photo.url }}" alt="test post">
                </div>
                <div class="d-flex">
                    <a class="mx-2" href="">l</a>
                    <a class="mx-2" href="">c</a>
                    <a class="mx-2" href="">s</a>
                    <a class="mx-2 ml-auto" href="">f</a>
                </div>
                <div class="likes-section">
                    <p class="mb-1">
                        <span>{{ photo.likes.all | length }}</span>
                        <span> likes</span>
                    </p>
                </div>
                <div class="photo-caption">
                    <p>
                        <span class="font-weight-bold">{{ photo.uploaded_by.profile.user_name }}</span>
                        <span> {{ photo.caption }}</span>
                    </p>
                </div>
                <div class="add-comment">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Upload</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="box-35 d-table-cell">
            <div class="container">
                <a>header</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}