{% extends 'base/layout.html' %}
{% load static %}
{% block content %}

<div class="bg-light pt-5">
    <div class="box-70">
        <div class="user-info">

        </div>
        <div class="profile-nav border-top border-secondary">

        </div>

        <div class="d-flex justify-content-center">
            {% for photo in photos %}
            <div class="box-30 up-photo">
                <div class="home-photo-box d-flex align-items-center justify-content-center">
                    <img class="home-photo" src="{{ photo.photo.url }}" alt="test post">
                </div>
                <div class="up-overlay">
                    <span>likes
                        {{ photo.likes.all | length }}
                    </span>
                    <span>comments
                        {{ photo.comments.all | length }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}