{% extends 'base/layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<form method="post" novalidate>
    {% csrf_token %}

    <div class="bg-light pt-5">
        <div class="box-70">
            <div class="d-table">
                <div class="box-35 d-table-cell ml-3">
                    <h3>Edit Profile</h3>
                </div>
                <div class="box-65 d-table-cell">
                    <div class="container">
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3 text-center">
                                {% if user.profile.profile_photo %}
                                <img class="img-rounded profile-ig-icons" src="{{ user.profile.profile_photo }}" alt="">
                                {% else %}

                                <img class="img-rounded profile-ig-icons" src="{% static 'img/male-icon.png' %}" alt="">
                                {% endif %}
                            </div>
                            <div class="col-md-9">
                                <div class="d-flex">
                                    <h3 class="font-bold mr-bold">{{ user.username }}</h3>
                                </div>
                                <div class="">
                                    <label class="form-control-sm form-inline pl-0" for="">Change Profile Photo</label>
                                    {% render_field form.change_profile_photo class='form-control-file' %}
                                </div>
                            </div>
                        </div>

                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.name.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.name class='form-control input-height' %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.user_name.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.user_name class='form-control input-height ' %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.website.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.website class='form-control input-height ' %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.bio.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.bio class='form-control' rows=3%}
                            </div>
                        </div>
                        <div class="row p-0 m-0">
                            <div class="col-md-3" name='Empty column'></div>
                            <div class="col-md-9">
                                <h3 class="text-muted">Private Information</h3>
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.email.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.email class='form-control input-height ' %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.phone.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.phone class='form-control input-height ' %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.age.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.age initial=0 %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3">
                                <h6 class="font-weight-bold mb-0">{{ form.gender.label_tag }}</h6>
                            </div>
                            <div class="col-md-9">
                                {% render_field form.gender class='input-height form-control' %}
                            </div>
                        </div>
                        <div class="row p-0 m-0 mb-3">
                            <div class="col-md-3"></div>
                            <div class="col-md-9 row p-0 m-0">
                                <div class="col-md-3 ">
                                    <button type="submit" class="btn btn-primary btn-sm ">Submit</button>
                                </div>
                                <div class="col-md-9 d-flex align-items-center">
                                    <a class="" href="nav-link">Temporarily disable my account </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <span>ABOUT USSUPPORTPRESSAPIJOBSPRIVACYTERMSDIRECTORYPROFILESHASHTAGSLANGUAGE
                    © 2018 INSTAGRAM</span>
            </div>
        </div>
    </div>

</form>
{% endblock content %}