{% extends 'base/layout.html' %}
{% load static %}
{% block content %}

<div class="bg-light pt-5">
    <div class="box-70">
        <div class="user-info">
            <div class="profile-photo box-30">
                <img class="img-rounded" src="{{ user.profile.profile_photo.url }}" alt="">
            </div>
            <div class="profile-info box-70">

            </div>
        </div>
        <div class="profile-nav d-flex justify-content-center border-top border-secondary">
            <a class="nav-link text-dark d-flex align-items-center px-5 border-top border-dark" href="">Posts</a>
            <a class="nav-link text-dark d-flex align-items-center px-5 border-top border-dak" href="">Saved</a>
        </div>

        <div class="d-flex justify-content-between">
            {% for photo in photos %}
            <div class="box-30">
                <div class="profile-photo-box h-100 d-flex align-items-center justify-content-center">
                    <img class="profile-photo" src="{{ photo.photo.url }}" alt="test post">
                </div>
                <div class="up-overlay">
                    <span>likes
                        {{ photo.likes.all | length }}
                    </span>
                    <span>comments
                        {{ photo.comments.all | length }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}