.nav-ig-icons {
    width: 24px;
    height: auto;
}

.nav-ig-cdn-icons {
    width: 28px;
    height: auto;
}

.input-height {
    height: 30px;
}

.navbar {
    height: 77px;
}

.far {
    font-size: 26px;
    font-weight: lighter;
}

.box-70 {
    width: 70%;
    margin: auto;
}

.box-35 {
    width: 35%;
    margin: auto;
}

.box-65 {
    width: 65%;
    margin: auto;
}