.nav-ig-icons {
    width: 24px;
    height: auto;
}

.profile-ig-icons {
    width: 45px;
    height: auto;
}

.nav-ig-cdn-icons {
    width: 28px;
    height: auto;
}

.input-height {
    height: 30px;
}

.navbar {
    height: 77px;
}

.instagram-title {
    font-family: 'Grand Hotel', cursive;
}

.far {
    font-size: 26px;
    font-weight: lighter;
}

.box-70 {
    width: 70%;
    margin: auto;
}

.box-30 {
    width: 30;
    margin: auto;
}

.box-35 {
    width: 35%;
    margin: auto;
}

.box-65 {
    width: 65%;
    margin: auto;
}

.box-33-m {
    width: 32%;
    height: 300px;
}

.profile-photo-box {
    width: 100%;
    overflow: hidden;
}


.profile-photo-box img {
    height: 100%;
    width: auto;
}

.u-profile-photo-box {
    width: 100%;
    overflow: hidden;
}

.u-profile-photo-box img {
    height: 100%;
    width: auto;
}

.user-photos-box {
    overflow: hidden;
}

.user-photos {
    height: 300px;
    width: auto;
}

.profile-photo {
    width: 170px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;

}

.user-photo {
    width: 100%;
    height: auto;
    overflow: hidden;

}

.profile-d-pic {
    width: auto;
    height: 100%;
}


.settings-icon {
    height: 34px;
}

.profile-nav {
    height: 53px;
}

.profile-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(1, 1, 1, 0);
    font-size: 0%;
}


.profile-overlay:hover {
    background-color: rgba(1, 1, 1, 0.7);
}

.home-photo-box {
    /* min-height: 400px; */
    max-height: 600px;
    overflow: hidden;
}

.home-photo {
    width: 100%;
}

.d-pic-box {
    min-height: 48px;
}

.home-profile-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;

}

.d-pic {
    width: auto;
    height: 100%;
}

.comm {
    height: 30px;
    position: inherit;
    -ms-flex-align: center !important;
    align-items: center !important;
    border: none;
    overflow: hidden scroll;
    border-color: darkgray;
    outline: none;
}

.comm:focus {
    border: none !important;
    outline: none !important;
}

.like-button {
    border: none;
    background: none;
}

.like-button:hover {
    border: none;
    background: none;
}

/* *************************************************** */

/* pop out styling for all over the templates */

.popout-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.7);
    z-index: 5;
}

.popout {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 7;
}

.arrow-left {
    width: 10vw;
}

.arrow-right {
    width: 10vw;
}

.popout-img {
    width: 40vw;
}

.popout-img img {
    width: 100%;
    height: auto;
}

.popout-comments {
    width: 20vw;
}

.popout-header {
    height: 55px;
    border-color: darkgray;
}

.popout-user-dpic {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
}

.popout-user-dpic img {
    width: 100%;
}

.popout-user-name {}

.popout-body {
    height: 60%;
    border-bottom: solid darkgray 1px;
    overflow: scroll;
}

/* *************************************************** */