.nav-ig-icons {
    width: 24px;
    height: auto;
}

.profile-ig-icons {
    width: 45px;
    height: auto;
}

.nav-ig-cdn-icons {
    width: 28px;
    height: auto;
}

.input-height {
    height: 30px;
}

.navbar {
    height: 77px;
}

.far {
    font-size: 26px;
    font-weight: lighter;
}

.box-70 {
    width: 70%;
    margin: auto;
}

.box-30 {
    width: 30;
    margin: auto;
}

.box-35 {
    width: 35%;
    margin: auto;
}

.box-65 {
    width: 65%;
    margin: auto;
}

.box-33-m {
    width: 32%;
    height: 300px;
}

.profile-photo-box {
    width: 100%;
    overflow: hidden;
}

.profile-photo-box img {
    height: 100%;
    width: auto;
}

.profile-d-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.settings-icon {
    height: 34px;
}

.home-photo-box {
    /* min-height: 400px; */
    max-height: 600px;
    overflow: hidden;
}

.home-photo {
    width: 100%;
}

.d-pic {
    width: 45px;
    height: auto;
    border-radius: 50%;
}

.comm {
    height: 30px;
    position: inherit;
    -ms-flex-align: center !important;
    align-items: center !important;
    border: none;
    overflow: hidden scroll;
}

.comm:active {
    border: none !important;
}